<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/completion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Questopia Quiz Results</title>

</head>
<body>
    <div class="container">
        <h1>Let's see how many keys we got!</h1>
        <div class="score">
            Total Keys: {{correct}} / {{total}}
        </div>
        {% if correct != total %}
        <table>
            <thead>
                <tr>
                    <th>Incorrect Question</th>
                    <th>Correct Answer</th>
                </tr>
            </thead>
            <tbody>
                {% for bad, ans in incorrect.items() %}
                    <tr>
                        <td>{{ bad }}</td>
                        <td>{{ ans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {%endif%}
    </div>
    <br>
    <div class="button-container">
        <form action="{{ url_for('portal') }}" method="get">
            <button type="submit" class="redo-button">Try to access portal</button>
        </form>
    </div>

   
</body>
</html>
